#Main {
    z-index: 0;
    width: 100%;
    height: calc(100vh - 80px);
    grid-area: main;
}

#ModelViewer {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 100vw;
}

.ModelViewerOutFull {
    height: calc(100vh - 20px);
}
.ModelViewerInFull {
    height: 100%
}

.AvatarActive {
    animation: 0.5s ease 0s infinite shake;
}

/* Keyframes */
@keyframes shake {
    0% {
        transform: translate(-2px, -2px);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate(2px, -2px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translate(2px, 2px);
    }

    100% {
        transform: translate(-2px, 2px);
    }
}