#TopBar {
    display: flex;
    color: #000000;
    max-height: 50px;
    grid-area: topbar;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
    justify-content: space-between;
}

#TopBar-Section {
    background-color: #00000020;
    width: 100%;
    display: flex;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
}

.TopBar-Title,
.TopBar-Title * {
    font-size: large;
    -webkit-app-region: drag;
}

.TopBar-Title {
    padding: 0 0 0 10px;
    width: calc(100% - 120px);
    max-width: calc(100% - 120px);
}

.TopBar-Buttons {
    display: flex;
    width: 120px;
    max-width: 120px;
}

.TopBar-Buttons-Icon {
    border: none;
    display: grid;
    width: 40px;
    height: 30px;
    place-items: center;
    padding: 0 5px;
    background: transparent;
}

#TopBar-Buttons-Minimize:hover {
    background-color: #00000040;
}

#TopBar-Buttons-MaxMin:hover {
    background-color: #2eb9ff;
}

#TopBar-Buttons-Close:hover {
    background-color: #ff3939;
}