#Settings {
    width: 100%;
    height: 100%;
    z-index: 3;
    position: absolute;
    place-items: center;
    top: 0;
    left: 0;
    background: #00000050;
    padding: 10px 0 10px 20px;
    box-sizing: border-box;
}

#SettingsMain {
    height: 100%;
    max-width: 800px;
    border-radius: 0 10px 10px 0;
    display: grid;
    background-color: #fff;
    grid-template: "navigator viewer viewer" "navigator viewer viewer" "navigator viewer viewer"
}

#SettingsList {
    display: grid;
    grid-area: navigator;
    min-width: 200px;
    place-items: center;
}

#SettingsList-Content {
    width: calc(100% - 16px);
    border-radius: 2.5px;
    background: #00000030;
    height: calc(100% - 16px);
    display: grid;
    grid-template:
        "image" 120px
        "content";
}

#SettingsList-Content-Image {
    grid-area: image;
    display: grid;
    place-items: center;
    border-bottom: 4px solid #ffffff;
}

#SettingsList-Content-Image-Element {
    width: 120px;
}

#SettingsList-Content-Scroll {
    grid-area: content;
}

#SettingsView {
    grid-area: viewer;
    padding: 0 28px 8px 20px;
    min-width: 490px;
    display: grid;
    grid-template:
        "tool" 80px
        "content";
}

#SettingsView-Tool {
    margin: 8px 0;
    display: flex;
    grid-area: tool;
    padding: 0 2px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid #00000030;
}

#SettingsView-Tool-Title {
    width: 300px;
    font-size: large;
}

#SettingsView-Tool-CloseButton {
    border: none;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    background: #00000030;
    display: grid;
    place-items: center;
    border-radius: 15px;
    outline: 2px solid #00000030;
    transition: all .1s ease;
    cursor: pointer;
}

#SettingsView-Tool-CloseButton:hover {
    background: none;
}

#SettingsView-Content {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    grid-area: content;
    height: 100%;
    padding: 10px 0 0 0;
}

#SettingsList-Content-Scroll-Capsule {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 10px 10px;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
}

.SettingsList-Content-Scroll-Element {
    position: relative;
    list-style: none;
    border-radius: 2.5px;
    box-sizing: border-box;
    width: 100%;
    height: 31px;
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    font-weight: 600;
    align-items: center;
}

.SettingsList-Content-Scroll-Element:hover {
    background: #b9b9b9;
}

.SettingsList-Content-Scroll-Element:hover:before {
    position: absolute;
    content: "";
    right: -18px;
    width: 20px;
    height: 31px;
    background: #b9b9b9;
}

.SettingsList-Content-Scroll-Element:nth-child(even) {
    margin: 5px 0;
}

.OptionsElement-Execution-Select {
    appearance: none;
    text-align: center;
    width: 100%;
    border-radius: 4px;
    outline: 1px solid #000;
    height: 100%;
    font-weight: bold;
    font-size: medium;
}

.SettingsRouter-Selected:before {
    position: absolute;
    content: "";
    right: -18px;
    width: 20px;
    height: 31px;
    background: #ffffff;
}

.SettingsRouter-Selected:hover:before {
    position: absolute;
    content: "";
    right: -20px;
    width: 20px;
    height: 31px;
    background: #ffffff;
}

.SettingsRouter-Selected {
    background: #ffffff;
}

.SettingsRouter-Selected:hover {
    background: #ffffff
}

.SettingsOpen {
    display: flex;
}

#SettingsMain {
    animation: OpenSettings .15s ease;
}

.SettingClose {
    display: none;
}

@keyframes OpenSettings {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Settings Elements */

.OptionsElement {
    width: 100%;
    display: grid;
    grid-template: "definition definition option";
}

.OptionsElement:nth-child(even) {
    margin: 20px 0;
}

.OptionsElement-Data {
    display: flex;
    grid-area: definition;
    font-size: x-small;
    flex-direction: column;
    justify-content: center;
}

.OptionsElement-Execution {
    display: flex;
    grid-area: option;
    justify-content: flex-end;
    align-items: center;
}

.OptionsElement-Execution-Input {
    position: relative;
    background: #ffffff;
    appearance: none;
    display: flex;
    width: 35px;
    height: 12.5px;
    border: 1px solid #000000;
    border-radius: 7.5px;
    transition: all .2s ease;
    align-items: center
}

.OptionsElement-Execution-Input:after {
    transition: all .2s ease;
    position: absolute;
    content: "";
    width: 17.5px;
    border-radius: 7.5px;
    height: 17.5px;
}

.OptionsElement-Execution-InputColor {
    appearance: none;
    width: 100px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.Execution-Off:after {
    left: 0;
    transition: all .2s ease;
    outline: 1px solid #000000;
    background: #000000;
}

.Execution-Allow:after {
    right: 0;
    transition: all .2s ease;
    outline: 1px solid #00ff00;
    background: #00ff00;
}

#SettingsView-Content-Confirm {
    position: absolute;
    bottom: 0;
    height: 35px;
    box-sizing: border-box;
    border-radius: 2.5px;
    width: 100%;
    background: #00000030;
    align-items: center;
    justify-content: space-evenly;
}

.SettingsView-Content-Confirm-Options_Buttons {
    width: 90px;
    border: none;
    height: 25px;
    color: #000000;
    border-radius: 4px;
    cursor: pointer;
    transition: all .2s ease;
}

#SettingsView-Content-Confirm-Options_Discard {
    margin: 0 10px 0 0;
    background: transparent;
}

#SettingsView-Content-Confirm-Options_Discard:hover {
    transform: scale(0.9);
    background: #ffffff
}

#SettingsView-Content-Confirm-Options_Save {
    background: #04dc1e
}

#SettingsView-Content-Confirm-Options_Save:hover {
    transform: scale(0.9);
}