:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
body,
#root {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

#root {
  position: relative;
  display: grid;
  width: 100%;
  grid-template:
    "main main main"
    "footer footer footer";
  height: calc(100vh - 30px);
}